<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    
    <style type="text/css">
     a {
    color: #f39200;
    text-decoration: none;
    background-color: transparent;
        }
      #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }
    </style>
    
    <script type="text/javascript">
      
/*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});

/*  ==========================================
    SHOW UPLOADED IMAGE NAME
* ========================================== */
var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}

    </script>
   
    <title>SIH 2020</title>


  </head>
<body>

  {%if modelinfo%}
  {%if modelinfo!='valid'%}
  <div style="text-align: center;" class="container" class="alert alert-danger" role="alert">
  {{modelinfo}} Image !!
  </div>
  {%else%}
  <div style="text-align: center;" class="container" class="alert alert-success" role="alert">
  {{modelinfo}} Image.
  </div>
  {%endif%}
  {%endif%}

 
    <header class="container">
      {%if vinfo%}
      <div class="alert alert-danger" role="alert">
       {{ vinfo }}
      </div>
      {%endif%}
      <div class="alert alert-dark" role="alert" style="text-align: center; font-weight: 600">
          <div>
      <label for="validationCustom04">Select Scheme</label>
      <select class="custom-select" id="validationCustom04" required>
        <option selected disabled value="">Select Scheme</option>
        <option>PMAYG</option>
        <option>MGNREGA</option>
        <option>DDUKGY</option>
        <option>PMGSY</option>
        <option>RURBAN</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
  </div>
      </div>

    </header>
    
    <section class="container">
      <div class="card mb-3">
        <div class="row no-gutters">
          <!-- Cam/Photo/Vid-->
          <div class="col-md-6" style="font-size: 200px; text-align: center;">
            <a href="{{ url_for('camera') }}">
              <i class="fa fa-camera" aria-hidden="true" style="padding: 10px;"></i>
              
              <!--<img src="cam.png" class="card-img" alt="Capture">-->
              </a>
          </div>
          <!-- Results -->
          <div class="col-md-6">
            <form method="post"  enctype="multipart/form-data">
              <div class="card-body">
                <h5 class="card-title">
                  Upload Images
                </h5>
                 <!-- Upload image input-->
                  <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                      <input id="upload" type="file" name="file" onchange="readURL(this);" class="form-control border-0">
                      <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                      <div class="input-group-append">
                          <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose Image</small></label>
                      </div>
                  </div>

                  <!-- Uploaded image area-->
                  <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                  <div style="float: right; padding-bottom: 10px;">
                  <input class="btn btn-primary" type="submit" value="Upload">
                  </div>
              </div>
            </form>
          </div>
        </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        PDF
      </div>
      <div class="card-body">
        <h5 class="card-title">Upload DOCs AS PDF</h5>
        <p class="card-text">OCR - Extract TEXT </p>
        <a href="{{ url_for('pdf') }}" class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      </div>
    </div>
    
    <div class="accordion" id="accordionExample">
        <div class="card">
          
          <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <div class="row">
                  <div class="col-3">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </button>
                  </div>
                  <div class="col-9">

                  <a href="{{ url_for('aigallary') }}">
                  <button type="button" class="btn btn-secondary btn-sm" style="float: right;">Select Image From Database</button>
                  </a>

                  </div>
                </div>
              </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
              {% if not imgname %}
              <center style="font-size: 20px;">
                <i style="font-size: 300px;" class="fa fa-file-image-o" aria-hidden="true"></i>
                <br>
                <i>No Image/PDF selected</i></center>
              {% else %}
              <img src="{{url_for('static', filename=imgname)}}" class="img-fluid" alt="Responsive image">
              
              <form method="post" style="padding-top: 10px;"> 
              <input type="text" value="{{imgname}}" style="display: none;" name="duplicate">
              <button type="submit" class="btn btn-warning">Similar Images</button>
              </form>
              
              {% endif %}
              </div>
              
              <div class="card-body">
              {% if labels %}
              <h1>Labels :</h1>
              <p>
              {%for label in labels%} 
              
              <li>{{ label.description }}</li> 
              
              {%endfor%} 
              </p>
              
              {% endif %}
              </div>
              
              <div class="card-body">
              {% if objects %}
              <h1>Objects :</h1>
              <p>
              {%for object in objects%} 
              <li style="list-style: none;padding: 5px;">{{ object.name }} : 
                <div class="progress" style="width: 300px;float: left;" >
                <div class="progress-bar" role="progressbar" style="width: {{ object.score*100|round|int }}%" aria-valuenow="{{ object.score*100|round|int }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              ({{ object.score*100|round|int }}%)</li> 
              {%endfor%}
              </p>
              
              {% endif %}
              </div>

              <div class="card-body">
              {% if ocr %}
              <h1>OCR :</h1>
              <p>{{ ocr }}</p>
              {% endif %}
              </div>
          </div>
        
        </div>
      </div>
      
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
